extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/auth.css")
    link(rel="stylesheet" href="/css/form.css")

block content
    main
        if (typeof errorMessage.error != "undefined" && errorMessage.error.length > 0)
            div.user-message.user-message--error
                span #{errorMessage.error}
        form.login-form(action="/signup" method="POST")
            input(type="hidden", name="_csrf" value=csrfToken)
            div.form-control
                label(for="email") Email 
                input(type="text" name="email" placeholder="Enter your email here...")#email
            div.form-control
                label(for="password") Password 
                input(type="password" name="password" placeholder="Enter password here...")#password
            div.form-control
                label(for="confirmPassword") Confirm Password 
                input(type="password" name="confirmPassword" placeholder="Enter confirm password here...")#confirmPassword
            button.btn(type="submit") Signup

